.navbar {
    background-color: #5f9cff;
    border-bottom: 1px solid #246ce0;
    color: #fff;

    .navbar-header .navbar-brand {
    	color: #fff;
    }

    li .btn {
		margin-left: 5px;
		margin-right: 5px;
	}
}